attrs==16.2.0
cssselect==1.0.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.3
django-authtools==1.5.0
django-toolbelt==0.0.1
djangorestframework==3.6.2
docutils==0.13.1
gunicorn==19.6.0
httpie==0.9.9
Jinja2==2.9.6
pyasn1-modules==0.0.8
requests==2.13.0
virtualenv==15.0.3
virtualenvwrapper-win==1.2.1
w3lib==1.15.0
whitenoise==3.3.0
psycopg2==2.6.2